In [1]:
import pandas as pd

In [44]:
data = pd.read_csv('../data/processed/data.csv')

In [45]:
data.head()

,Unnamed: 0,date,control_point,travel_type,passenger_origin,passenger_count,travel_method
0,0,01-01-2021,Airport,Arrival,Hong Kong Residents,341,by air
1,1,01-01-2021,Airport,Departure,Hong Kong Residents,803,by air
2,2,01-01-2021,Express Rail Link West Kowloon,Arrival,Hong Kong Residents,0,by land
3,3,01-01-2021,Express Rail Link West Kowloon,Departure,Hong Kong Residents,0,by land
4,4,01-01-2021,Hung Hom,Arrival,Hong Kong Residents,0,by land

In [46]:
# EDA 

# Get unique dates
origin = data['passenger_origin'].unique()
print(origin)

['Hong Kong Residents' 'Mainland Visitors' 'Other Visitors']

In [47]:
total_passengers = data["passenger_count"].sum()
tourist_df = data[(data['travel_type'] == 'Arrival') & (data['passenger_origin'] != 'Hong Kong Residents')]
volume_entries = round(len(tourist_df) / 7.54e6, 8)
volume_entries

0.00607958

In [48]:
unique_dates = data['date']
unique_dates.tail

<bound method NDFrame.tail of 0         01-01-2021
1         01-01-2021
2         01-01-2021
3         01-01-2021
4         01-01-2021
             ...
137515    23-02-2025
137516    23-02-2025
137517    23-02-2025
137518    23-02-2025
137519    23-02-2025
Name: date, Length: 137520, dtype: object>

In [49]:
data['control_point'].unique()

array(['Airport', 'Express Rail Link West Kowloon', 'Hung Hom', 'Lo Wu',
       'Lok Ma Chau Spur Line', 'Heung Yuen Wai',
       'Hong Kong-Zhuhai-Macao Bridge', 'Lok Ma Chau', 'Man Kam To',
       'Sha Tau Kok', 'Shenzhen Bay', 'China Ferry Terminal',
       'Harbour Control', 'Kai Tak Cruise Terminal',
       'Macau Ferry Terminal', 'Tuen Mun Ferry Terminal'], dtype=object)