In [1]:
import pandas as pd

In [2]:
def load_data():
    """
    Loads and cleans daily passenger traffic data into a DataFrame.
    Data Source: 
    https://data.gov.hk/en-data/dataset/hk-immd-set5-statistics-daily-passenger-traffic
    """
    data_source_link = "https://www.immd.gov.hk/opendata/eng/transport/immigration_clearance/statistics_on_daily_passenger_traffic.csv"
    df = pd.read_csv(data_source_link)
    df = df.iloc[:, :6]
    df = df.melt(
        id_vars=df.columns[:3],
        var_name="passenger_origin",
        value_name="passenger_count",
    )
    # Rename columns
    df = df.rename(
        columns={
            "Date": "date",
            "Control Point": "control_point",
            "Arrival / Departure": "travel_type",
        }
    )
    
    # Export dataframe as csv
    df.to_csv('../data/raw/data.csv')
    
    return df

In [3]:
load_data()

,date,control_point,travel_type,passenger_origin,passenger_count
0,01-01-2021,Airport,Arrival,Hong Kong Residents,341
1,01-01-2021,Airport,Departure,Hong Kong Residents,803
2,01-01-2021,Express Rail Link West Kowloon,Arrival,Hong Kong Residents,0
3,01-01-2021,Express Rail Link West Kowloon,Departure,Hong Kong Residents,0
4,01-01-2021,Hung Hom,Arrival,Hong Kong Residents,0
...,...,...,...,...,...
136423,10-02-2025,Harbour Control,Departure,Other Visitors,39
136424,10-02-2025,Kai Tak Cruise Terminal,Arrival,Other Visitors,0
136425,10-02-2025,Kai Tak Cruise Terminal,Departure,Other Visitors,0
136426,10-02-2025,Macau Ferry Terminal,Arrival,Other Visitors,2456
136427,10-02-2025,Macau Ferry Terminal,Departure,Other Visitors,2765

In [ ]:
# EDA